body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.container {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    border-radius: 5px;
}

.display-container {
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 90px;
    text-align: end;
    padding: 2px 15px;
    font-size: xx-large;
}

.minor-display {
    height: 30px;
    text-align: end;
    padding: 2px 15px;
    font-size: large;
}
.display {
    height: 50px;
    text-align: end;
    padding: 2px 15px;
    font-size: xx-large;
}
